body {
  align-content: center;
}

.inputform {
  display: flex;
  /* align-content: center; */
  justify-content: center;
  font-size: x-large;
}
label {
}
h1 {
  display: flex;
  justify-content: center;
}
